JWT_SECRET = "clave_super_secreta_para_jwt"

DATABASE_URL="postgresql://uniopencourse_user:tu_contraseña@localhost:5432/uniopencourse"

SEED_ADMIN_EMAIL="admin@test.com"
SEED_ADMIN_PASSWORD="tu_contraseña_segura"
SEED_ADMIN_USERNAME="admin"
