@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: #121715;
  --color-background-secondary: #1a2220;
  --color-foreground: var(--foreground);
  --color-header-bg: #01392a;
  --color-accent: #0b5a46;
  --color-primary: #f5f7f6;
  --color-secondary: #c8d1cd;
  --color-muted: #95a29d;
  --color-placeholder: #8a9893;
  --color-border: #31413c;
  --color-button-border: #8de8c0;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none; /* Safari y Chrome */
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* Internet Explorer y Edge */
    scrollbar-width: none; /* Firefox */
  }
  
  /* Scrollbar personalizado y elegante */
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #31413c;
    border-radius: 10px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #0b5a46; /* El color accent */
  }
  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #31413c transparent;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121715;
    --foreground: #ededed;
    --header-bg: #01392a;
    --accent: #0b5a46;
    --primary: #f5f7f6;
    --placeholder: #8a9893;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Plus Jakarta Sans', 'Inter', sans-serif;
}
